* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}
body {
	background: #00b6c4;
}
.container {
	background: #f5f5f5;
	max-width: 1000px;
	margin: 60px auto;
	height: 2920px;
	padding: 20px;
	box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
}
.header {
	text-align: center;
}
.header h1 {
	margin-bottom: 10px;
	font-size: 40px;
}
.header h3 {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 500;
}
.img-area {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	overflow: hidden;
	margin: 25px auto;
	border: 15px groove deepskyblue;
}
.img-area img {
	width: 100%;
}
.main {
	display: flex;
	width: 100%;
	height: auto;
	flex-wrap: wrap;
}
.left {
	flex: 1;
	padding: 10px;
}
.left p {
	line-height: 1;
	font-size: 19px;
}
.left ul li {
	line-height: 1;
}
h2 {
	background: #01ffea;
	padding: 15px;
	color: #fff;
	margin: 15px 0;
	font-size: 20px;
	border-radius: 0 30px 30px 0;
}

h3 {
	background: #0459f8;
	padding: 12px;
	color: #fff;
	margin: 15px 0;
	font-size: 20px;
	border-radius: 0 30px 30px 0;
}
.right {
	flex: 1;
	padding: 10px;
}
.right h3 {
	margin-bottom: 10px;
}
.right p {
	line-height: 2;
	font-size: 22px;
}
.right ul li {
	line-height: 2;
	font-size: 20px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.container {
		width: 95%;
		height: auto;
	}
	h2 {
		font-size: 18px;
	}
}
@media screen and (max-width: 600px) {
	.main {
		flex-direction: column;
	}
	.left, .right {
		flex: none;
		width: 100%;
	}
	.container {
		width: 95%;
		height: auto;
	}
	h2 {
		font-size: 15px;
	}
}

.social-link li {
	list-style: none;
	margin: 05 15px;
}
.social-link a {
	color: inherit;
	text-decoration: none;
	font-size: 24px;
	transition: color 0.3s;
}
.social-link a:hover {
	color: inherit;
}

.fa-medium { color: #00AB6C; }
.fa-youtube { color: #FF0000; }
.fa-github { color: #020202; }
.fa-linkedin { color: #0A66C2; }
.fa-twitter { color: #1DA1F2; }
.fa-facebook { color: #1826f2; }
.fa-instagram { color: #f3068c; }
.fa-attherate { color: #f66803; }


.btn-dark {
	background-color: #343a40;
	color: #fff;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	transition: background-color 0.3s;
}
.btn-dark:hover {
	background-color: #23272b;
}
